.App {
  padding: 10px;
  text-align: left;
}

.TweetList {
  font-size: small;
  position: relative;
}

.tweet {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: aliceblue;
}

.selected {
  background-color: lightskyblue;  
}

.list-container {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  position: absolute;
  width: 45%;    
  min-height: 300px;
  margin-top: 10px;
  /* bottom: 10px; */
}
.search-list {
  left: 10px;
}

.saved-list {
  right: 10px;
}

.list-container div {
  position: initial;
}

.btn {
  position: absolute;
  left: 50%;
  width: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 45px;
}

.save-btn {
  margin-top: 10px;
}

.clear-btn {
  margin-top: 40px;
}